table{
    border-collapse: collapse;
}

td{
    border: 1px solid #bbb;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #222;
}
td.opened{
    background: white;
}
td.flag{
    background: red;
}td.question{
    background: orange;
}