@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

html, body, div, p{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(60, 167, 65);
    font-family: 'NeoDunggeunmo', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
button, input{
    font-family: 'NeoDunggeunmo', sans-serif;
}

.container{
    width: 100%;
    max-width: 900px;
    min-height: 80%;
    background-color: #f0f4f5;
    display: flex;
}

.left-section,
.right-section{
    flex: 1 1 50%;
    padding: 20px;
    display: flex;
}


.left-section{
    flex-direction: column;
}
.left-section .result-container,
.left-section .input-container{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-container input[type=text]{
    width: 20%;
    font-size: 1.2rem;
    padding: 12px;
    text-align: center;
}
.input-container button{
    cursor: pointer;
    font-size: 0.8rem;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 2px 2px 0 black;
    padding: 8px;
}
.input-container button:focus,
.input-container button:active{
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 gray inset;
}

.input-container .numberpad{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.input-container .numberpad button{
    width: 32%;
    font-size: 1.2rem;
    margin-bottom: 2px;
}
.input-container .numberpad button:not(:nth-child(3n)){
    margin-right: 2%;
}




.right-section{
    align-items: center;
}

.record-table{
    width: 100%;
    padding: 8px;
    background-color: #363a46;
    color: #f0f4f5;
    text-align: center;
}
.record-table caption{
    color: #363a46;
}

.record-table th,
.record-table td{
    width: 20%;
    padding: 8px;
}

.record-table th{
    border-bottom: 1px solid green;
}
.record-table th+th{
    border-left: 1px solid green;
}
.record-table tr:not(:last-child) td{
    border-bottom: 1px dashed darkcyan;
}
.record-table td+td{
    border-left: 1px dashed darkcyan;
}